@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato"), url("../../assets/fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../../assets/fonts/Lato/Lato-Regular.woff") format("woff"), url("../../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: local("Nunito Regular"), url("../../assets/fonts/Nunito/static/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: local("Nunito SemiBold"), url("../../assets/fonts/Nunito/static/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: local("Nunito Bold"), url("../../assets/fonts/Nunito/static/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("woff2");
}
body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(252, 252, 252);
  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex-grow: 1;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  padding: 5px 0 10px 0;
  background-color: rgb(240, 246, 249);
}
.header__logo {
  margin: 0 50px 5px 0;
}
.header__top {
  display: flex;
  justify-content: start;
}
.header__top-list {
  display: flex;
  align-items: center;
  gap: 80px;
  font-size: 14px;
  line-height: 18px;
  margin-right: auto;
}
.header__top-item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.header__top .item-hover {
  transition: all 0.1s ease-in-out;
  padding: 10px;
  border-radius: 3px;
}
.header__top .item-hover:hover {
  background-color: rgb(193, 201, 206);
  border-radius: 10px;
}
.header__top-tel {
  text-wrap: nowrap;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(0, 87, 138);
  transition: color 0.15s ease-in-out;
}
.header__top-tel:hover {
  color: rgb(1, 124, 193);
}

.header-btn__account {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 32px;
  border-radius: 5px;
  text-wrap: nowrap;
  color: rgb(0, 87, 138);
  background-color: rgb(227, 239, 245);
}

.header__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  padding: 19px 38px;
  border-radius: 5px;
  gap: 40px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.06);
}
.nav__list-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.nav__list-link {
  color: rgb(20, 20, 20);
  transition: all 0.1s ease-in-out;
}
.nav__list-link:hover {
  color: rgb(0, 198, 191);
}

.header__bottom-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 32px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 87, 138);
  transition: all 0.1s ease-in-out;
}
.header__bottom-btn:hover {
  background-color: rgb(1, 124, 193);
}

.header__bottom-version {
  font-size: 14px;
  line-height: 18px;
  color: rgb(20, 20, 20);
}
.header__bottom-version:hover {
  color: rgb(1, 124, 193);
}

.header__bottom-version::before {
  content: "";
  position: absolute;
  top: 20%;
  left: -7%;
  width: 21px;
  height: 20px;
  background: url("../../assets/icon/glasses.svg") no-repeat;
}

.version-box {
  display: flex;
  align-items: center;
  position: relative;
  gap: 40px;
  transition: all 0.1s ease-in-out;
}

@media (max-width: 1349px) {
  .version-box {
    flex-direction: column;
    margin-left: 30px;
    gap: 30px;
  }
  .version-box .header__bottom-version::before {
    top: -2%;
    left: -10%;
  }
  .form-header {
    display: none;
  }
}
@media (max-width: 1149px) {
  .nav {
    display: none;
  }
  .header__bottom {
    justify-content: center;
    align-items: center;
  }
  .version-box {
    flex-direction: row;
  }
  .version-box .header__bottom-version::before {
    top: 20%;
    left: -10%;
  }
  .header__top-list {
    gap: 30px;
  }
  .item-hove {
    display: none;
  }
}
@media (max-width: 1049px) {
  .item-hover {
    display: none;
  }
  .header__top-list {
    gap: 100px;
  }
}
@media (max-width: 1049px) {
  .header__top-list {
    display: none;
  }
  .form-header {
    display: block;
    margin: 0 auto;
  }
}
.test-icon {
  width: 24px;
  height: 24px;
}

.footer {
  background-color: rgb(240, 246, 249);
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__logo {
  display: inline-block;
  margin: 20px 0 30px 0;
}

.footer-nav__list {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  padding: 19px 38px;
  border-radius: 5px;
  align-items: start;
  gap: 60px;
}
.footer-nav__list-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
}
.footer-nav__list-link {
  color: rgb(20, 20, 20);
  transition: color 0.2s ease-in-out;
}
.footer-nav__list-link:hover {
  color: rgb(0, 198, 191);
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer__list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__list-item .link-tel {
  text-wrap: nowrap;
  font-size: 28px;
  font-weight: 600;
  line-height: 28px;
  color: rgb(0, 87, 138);
  margin-bottom: 10px;
  transition: color 0.2s ease-in-out;
}
.footer__list-item .link-tel:hover {
  color: rgb(1, 124, 193);
}
.footer__list-text span {
  color: rgb(193, 201, 206);
}

.footer-copy {
  color: rgb(20, 20, 20);
}

.footer-copy + p {
  color: rgb(227, 237, 241);
  font-size: 14px;
  line-height: 28px;
}

.footer__list-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 32px;
  border-radius: 5px;
  background-color: rgb(227, 237, 241);
  color: rgb(79, 79, 79);
  margin-bottom: 45px;
  transition: all 0.3s ease-in-out;
}
.footer__list-btn:hover {
  background-color: rgb(193, 201, 206);
}

.footer-bottom__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.footer-bottom__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-bottom__list-item a {
  transition: all 0.2s ease-in-out;
}
.footer-bottom__list-item a:hover {
  color: rgb(1, 124, 193);
}

.footer-version {
  padding-bottom: 20px;
}

.underline {
  text-decoration-line: underline;
  text-underline-offset: 3px;
  opacity: 0.6;
}

.footer__info {
  background-color: #fff;
  font-size: 14px;
}
.footer__info p {
  padding: 10px 0;
}

.column {
  flex-direction: column;
}

.input-label {
  position: relative;
  display: flex;
}

.input {
  cursor: pointer;
  background-color: rgb(0, 198, 191);
  border-color: transparent;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  outline: none;
  transition: width 1s, border-radius 1s;
}

.input:focus {
  padding: 10px;
  border-radius: 5px;
  width: 250px;
  background-color: rgb(240, 246, 249);
  border: 2px solid rgb(0, 198, 191);
  color: rgb(79, 79, 79);
  font-weight: 700;
}

.form {
  position: relative;
}

.label::before {
  position: absolute;
  content: "";
  bottom: 25px;
  left: 4px;
  width: 50px;
  height: 50px;
  background: url("../../assets/icon/search.svg") no-repeat center;
}

.menu {
  margin: 20px;
  display: none;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 1;
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #000;
}

.burger::before {
  top: 0;
  box-shadow: 0 11px 0 #000;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
}

.burger::after {
  bottom: 0;
  transition: bottom 0.3s 0.15s, transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  transform: rotate(45deg);
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  transform: rotate(-45deg);
  transition: bottom 0.3s, transform 0.3s 0.15s;
}

.menu-list {
  top: 0;
  right: 100;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: rgb(0, 87, 138);
  transform: translateY(-100%);
  transition: 0.3s;
  width: 270px;
}

.menu-item {
  display: block;
  margin: 15px 0 5px 0;
  color: white;
  font-size: 18px;
  text-align: center;
}

.menu-item:hover {
  background: rgba(255, 255, 255, 0.2);
  color: rgb(0, 198, 191);
}

.burger-checkbox:checked ~ .menu-list {
  transform: translateX(0);
}

@media (max-width: 1249px) {
  .menu-list {
    top: 0;
    right: 0;
  }
}
@media (max-width: 1149px) {
  .menu {
    display: block;
  }
}
@media (max-width: 1049px) {
  .menu-list {
    top: 0;
    right: 0;
  }
}
.health {
  position: relative;
  background: linear-gradient(-34.53deg, rgb(0, 116, 184) 22.449%, rgb(0, 186, 198) 106.189%);
  padding: 130px 0 180px 0;
}
.health__title {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 20px;
}
.health__subtitle {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.health-content {
  display: flex;
  color: rgb(255, 255, 255);
}

.left-content {
  max-width: 550px;
}

.button {
  display: block;
  text-align: center;
  max-width: 240px;
  font-weight: 700;
  line-height: 28px;
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
}

.health-btn {
  font-size: 20px;
  background-color: rgb(0, 198, 191);
}

.right-content::before {
  content: "";
  position: absolute;
  z-index: 3;
  left: 235px;
  right: 0;
  top: 8px;
  bottom: 0;
  width: 100%;
  background: url("../../assets/img/doctor-bg.png") no-repeat center;
  background-size: auto;
}

.right-content::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 350px;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background: url("../../assets/icon/arrow-bg.svg") no-repeat center;
}

.directions {
  padding-bottom: 435px;
  position: relative;
}
.directions__cards {
  position: absolute;
  z-index: 3;
  margin: 0 auto;
  bottom: 30px;
  display: flex;
  gap: 30px;
}
.directions__card {
  display: flex;
  background-color: rgb(240, 246, 249);
  width: 332px;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
}
.directions__card-title {
  color: rgb(20, 20, 20);
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 40px;
}
.directions__card-title::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 53px;
  border-bottom: 1px solid rgb(198, 217, 226);
  width: 245px;
  color: red;
}
.directions__card-list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 28px;
}
.directions__card-link {
  color: rgb(20, 20, 20);
}
.directions__card-btn {
  display: inline-block;
  width: 240px;
  margin-top: 5px;
  background-color: rgb(0, 87, 138);
}

.section-form {
  margin-bottom: 125px;
}

.form-bg {
  border-radius: 14px;
  background: linear-gradient(-45deg, rgb(0, 116, 184) 0%, rgb(2, 176, 197) 100%);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1310px;
  padding: 70px 95px;
}
.form__top {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 255, 255);
}
.form__top-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.form__top-subtitle {
  font-size: 20px;
  line-height: 28px;
  margin-right: 20px;
  width: 335px;
}
.form__select {
  width: 360px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  padding: 0 30px;
}
.form__input {
  width: 360px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  padding: 0 30px;
}

.form-inner {
  display: flex;
  gap: 20px;
}

.form__box-select {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
}

.form__box-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
}

.form__box-btn {
  font-size: 14px;
  color: rgb(255, 255, 255);
  accent-color: rgb(255, 255, 255);
}
.form__box-btn #checkbox {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.form__box-btn .form__btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 32px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 70px;
  margin-bottom: 30px;
  background-color: rgb(0, 198, 191);
  transition: all 0.1s ease-in-out;
}
.form__box-btn .form__btn:hover {
  background-color: rgb(0, 225, 218);
}

.confidentiality {
  color: rgb(255, 255, 255);
  margin-left: 40px;
  margin-top: 20px;
}
.confidentiality:hover {
  text-decoration: underline;
}

.about {
  margin-bottom: 120px;
}
.about__top {
  position: relative;
  max-width: 560px;
}
.about__top-title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  color: rgb(20, 20, 20);
  margin-bottom: 40px;
}
.about__top-title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -80px;
  left: 700px;
  width: 100%;
  height: 400px;
  background: url("../../assets/img/doctor-heart.png") no-repeat;
}
.about__top-subtitle {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 28px;
}

.about__list {
  display: flex;
  justify-content: space-between;
  gap: 85px;
  padding: 70px 45px;
  background-color: rgb(240, 246, 249);
  border-radius: 5px;
}

.about__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 260px;
}
.about__item svg {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.about__item span {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(1, 124, 193);
}

.carousel {
  margin-bottom: 120px;
}

.swiper-slide {
  width: 305px;
  height: 450px;
}

.carousel__top {
  position: relative;
  margin-bottom: 40px;
}

.carousel__title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
}

.swiper-button-prev {
  position: absolute;
  background-color: rgb(234, 246, 255);
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  top: 25px;
  left: 1310px;
  color: rgb(1, 124, 193);
}
.swiper-button-prev:hover {
  background-color: rgb(1, 124, 193);
  color: rgb(255, 255, 255);
}

.swiper-button-next {
  position: absolute;
  background-color: rgb(234, 246, 255);
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
  top: 25px;
  left: 1370px;
  color: rgb(1, 124, 193);
}
.swiper-button-next:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(1, 124, 193);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 305px;
  height: 425px;
  border-radius: 5px;
  background-color: rgb(240, 246, 249);
  gap: 20px;
}

.card-title {
  width: 245px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: start;
}

.card-btn {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 32px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  background-color: rgb(0, 87, 138);
  color: rgb(255, 255, 255);
  text-align: center;
  width: 245px;
  margin-bottom: 30px;
}
.card-btn:hover {
  background-color: rgb(1, 124, 193);
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-navigation-size: 20px;
  --swiper-navigation-color: var(--swiper-theme-color);
}

.sale {
  overflow: hidden;
  margin-bottom: 120px;
}
.sale__title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.sale__card {
  cursor: pointer;
  display: inline-block;
  color: rgb(255, 255, 255);
  position: relative;
  overflow: hidden;
  padding: 40px;
  width: 753px;
  height: 425px;
  border-radius: 10px;
  background: linear-gradient(-34.53deg, rgb(0, 116, 184) 22.697%, rgb(0, 186, 198) 108.969%);
}
.sale__card-date {
  font-size: 14px;
  font-weight: 700;
  background-color: rgb(0, 225, 218);
  color: rgb(20, 20, 20);
  border-radius: 10px;
  max-width: 195px;
  margin-bottom: 165px;
  padding: 13px 24px;
}
.sale__card-date::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -10px;
  background: no-repeat right url("../../assets/img/botox.png");
}
.sale__card-discount {
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 12px;
}
.sale__card-for {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}

.doctor {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.doctor-title {
  font-size: 22px;
  font-weight: 700;
  color: rgb(1, 124, 193);
}
.doctor-desc {
  font-size: 18px;
  line-height: 28px;
}

.reviews {
  overflow: hidden;
}
.reviews__title {
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 40px;
}

.reviews__group {
  min-width: 640px;
}
.reviews__group .start {
  margin-bottom: 30px;
}
.reviews__group-name {
  font-weight: 700;
}
.reviews__group-date {
  margin-bottom: 30px;
}
.reviews__group-desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 30px;
}

.reviews__group-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding: 12px 32px;
  border-radius: 5px;
  display: inline-block;
  color: rgb(1, 124, 193);
  border: 1px solid rgb(1, 124, 193);
  margin-bottom: 30px;
  padding: 16px 60px;
}

.reviews__group-doctor {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}
.reviews__group-doctor span {
  color: rgb(1, 124, 193);
}

.equipment {
  overflow: hidden;
  margin-bottom: 120px;
}
.equipment__card {
  background-color: rgb(240, 246, 249);
  width: 415px;
  text-align: start;
}
.equipment__card-img {
  margin-bottom: 15px;
}
.equipment__card-title {
  color: rgb(1, 124, 193);
  font-size: 14px;
  padding: 0 30px 15px 30px;
}
.equipment__card-title span {
  font-weight: 600;
  font-size: 32px;
}
.equipment__card-desc {
  max-width: 355px;
  color: rgb(20, 20, 20);
  line-height: 22px;
  padding: 0 0 0 30px;
}

.none {
  display: none;
}

/*# sourceMappingURL=style.css.map */
