$accent-color: rgb(0, 198, 191);

$color-header-btn: rgb(227, 239, 245);

$color-blue-btn: rgb(0, 87, 138);
$color-blue-hover-btn: rgb(1, 124, 193);

$text-gray-color: rgb(79, 79, 79);

$text-black-color: rgb(20, 20, 20);

$white-color: rgb(255, 255, 255);

$secondary-color :rgb(240, 246, 249);
$secondary-gray-color :rgb(227, 237, 241);
$hover-color:  rgb(193, 201, 206);



// font size
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs28: 28px;

// font weight
$fw600: 600;
$fw700: 700;

// line height
$lh18px: 18px;
$lh22px: 22px;
$lh28px: 28px;

// gap
$g10: 10px;
$g60: 60px;
$g40: 40px;