$accent-color: rgb(0, 198, 191);
$accent-hover-color: rgb(0, 225, 218);

$color-header-btn: rgb(227, 239, 245);

$color-blue-btn: rgb(0, 87, 138);
$color-blue-hover-btn: rgb(1, 124, 193);

$text-gray-color: rgb(79, 79, 79);

$text-black-color: rgb(20, 20, 20);

$white-color: rgb(255, 255, 255);

$secondary-color :rgb(240, 246, 249);
$secondary-gray-color :rgb(227, 237, 241);
$hover-color:  rgb(193, 201, 206);

$menu-bg-color: rgb(240, 246, 249);



// font size
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
$fs20: 20px;
$fs22: 22px;
$fs24: 24px;
$fs28: 28px;
$fs32: 32px;
$fs48: 48px;
$fs60: 60px;

// font weight
$fw600: 600;
$fw700: 700;

// line height
$lh18px: 18px;
$lh22px: 22px;
$lh28px: 28px;
$lh32px: 32px;
$lh48px: 48px;
$lh60px: 60px;

// gap
$g10: 10px;
$g20: 20px;
$g30: 30px;
$g40: 40px;
$g60: 60px;
$g80: 80px;

// margin bottom
$mb20: 20px;
$mb30: 30px;
$mb40: 40px;
$mb120: 120px;

//border radius
$bore5: 5px;
$bore10: 10px;